/* Airbnb 핵심 공통 CSS */

@font-face {
    font-family: 'Noto Serif KR';
    src: url(../static/fonts/NotoSerifKR-Regular.woff) format("woff");
}
@font-face {
    font-family: 'Nanum Myeongjo';
    src: url(../static/fonts/NanumMyeongjo-Regular.woff) format("woff");
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url(../static/fonts/NotoSansKR-Regular.woff) format("woff");
}

/* 
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
*/
