/* 숙소 상세페이지 CSS - detail.css */

/* 숙소 메인이미지 파트 */
.main-img {
  position: relative;
  margin-top: 100px;
  text-align: center;
}
.main-img img {
  width: 90%;
  height: 700px;
  object-fit: cover;
}
.namebx {
  position: absolute;
  display: flex;
  align-items: center;

  font-family: "Noto Sans KR", sans-serif;
  background-color: #000000b0;
  color: #fff;

  padding: 30px;
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.namebx ul {
  margin-left: auto;
}
.namebx h1 {
  font-size: 20px;
}
.namebx h3 {
  font-size: 15px;
  margin-bottom: 5px;
}
/* 숙소 정보 파트 */
.deinfo {
  margin: 200px 350px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
.line {
  height: 40px;
  border-left: 1px solid #000;
  margin: 20px 50%;
}
.deinfo p {
  line-height: 23px;
}
/* 숙소 시설 파트 */
.amenity-box img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.amenity-box {
  position: relative;
}
.black-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  width: 500px;
  height: 700px;

  background-color: #00000098;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
}
.black-box h2 {
  margin: 60px;
  letter-spacing: 1px;
  font-size: 25px;
}
.black-box p {
  line-height: 2;
  padding: 0 66px;
}
/* 사진 그리드 파트 */
.gridbx {
  display: grid;
  /* 박스 중앙 최대크기 지정 */
  max-width: 100%;
  /* 가로방향 12그리드 셋팅 */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 300px);
  margin: 300px auto;
}

.gridbx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
  /* 박스이미지 하단 공백 제거 셋팅 */
  vertical-align: middle;
}
.gridbx img:hover {
  filter: brightness(0.5);
}

.gridbx .moreimg {
  position: relative;
  cursor: pointer;
}

.gridbx .moreimg::before {
  content: "+";
  position: absolute;
  display: none;

  text-align: center;
  line-height: 43px;
  font-size: 30px;
  width: 50px;
  height: 50px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #0000008b;
  color: #fff;
  border-radius: 50%;
  z-index: 99999;
}

.gridbx .moreimg:hover.moreimg::before {
  display: block;
}
/* 지도파트 */
.map {
  position: relative;
}
.map iframe {
  width: 70%;
  height: 500px;
  margin-left: 50%;
  transform: translate(-50%);
  border: none;
}
.map-info {
  position: absolute;
  top: 150px;
  left: 20%;
  width: 200px;
  height: 200px;
  background-color: #fff;
  font-size: 12px;
  font-family: "Nanum Myeongjo", serif;
}
.map-info h3:nth-child(1) {
  position: absolute;
  top: 20px;
  font-size: 15px;
  margin: 15px;
  line-height: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 25px;
}
.map-info h3:nth-child(2) {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .namebx h1 {
    width: 70%;
  }
  .deinfo {
    margin: 200px 100px;
  }
  .black-box {
    width: 400px;
  }
  .gridbx {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 300px);
  }
}
@media (max-width: 700px) {
  .gridbx {
    grid-template-rows: repeat(5, 150px);
  }
  .map-info {
    top: 100%;
    width: 100%;
    left: 0;
  }
}

/* 큰 이미지 배경박스 */
#bgbx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  /* 처음에 안보임 */
  z-index: 99999999;
}

/* 이동버튼 공통 */
.abtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* 세로중앙이동 */
  width: 56px;
  height: 111px;
  background: url(../../public/images/mv_btns.png) no-repeat;
}

/* 오른쪽버튼 */
.rb {
  right: 5%;
  background-position: 0 -100px;
}

.rb:hover {
  background-position: -167px 0;
}

/* 왼쪽버튼 */
.lb {
  left: 5%;
  background-position: -232px 0;
}

.lb:hover {
  background-position: 0 -221px;
}

/* 닫기버튼 */
.cbtn {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 39px;
  background: url(../../public/images/mv_btns.png) no-repeat;
  background-position: -129px -342px;

  /* 트랜지션 */
  transition: transform 0.3s;
}

/* 닫기버튼 오버시 */
.cbtn:hover {
  transform: rotate(-90deg);
}

/* 큰 이미지박스 */
#imbx {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 정중앙이동 */

  height: 60vmin;
  /* vmin은 보이는 화면에서 가로/세로중 작은쪽기준! */
  display: none;
  /* 처음에 안보임 */
}

/* 큰 이미지 */
#imbx img {
  height: 100%;
}

/* IR 클래스 */
.ir {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
