/* 공통 레이아웃 CSS */

/* 상단영역 */

/* 로고 */
.logo img{
    width: 144px;
    cursor: pointer;
}

/* GNB메뉴 */
.gnb ul,.gnb ol{
    display: flex;
}
.gnb ul>li{
    position: relative;
}

.cat-icon{
    display: flex;
    text-align: center;

    background-image: url(../../public/images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 50px;
    height: 50px;
}
.cat-list{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center
    
}
.cat-menu li img{
    display: block;
}
.listbox{
    margin: 50px;
}
.titbx h2{
    font-size: 20px;
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.titbx h3{
    font-size: 17px;
}
.gnb ol{
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    user-select: none;
}
.gnb ul>li.on ol{
    display: flex;
}
.gnb ol li a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #222;
}
.gnb ol li a:hover{
    color: hotpink;
}
.gnb ol li{
    width: 100px;
}
.gnb ol li img{
    width: 30px;
}



