/* 카테고리별 리스트 CSS */



/* 전체 리스트 박스 */
.cat-list{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    grid-column-gap: 50px;
    grid-row-gap: 130px;
    margin-top: 170px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 개별 리스트 박스 */
.listbox{
    /* margin: 50px; */
    width: 300px;
    height: 200px;
    user-select: none;
    
    
}
.listbox img{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit:cover;
}
.titbx{
    width: 300px;
    margin: 10px;
}
.titbx h2{
    font-size: 18px;
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  margin-bottom: 10px;
}
.titbx h3{
    font-size: 15px;
}
.imbx{
   position: relative;
}
.imslide{
    border-radius: 10px;
    overflow: hidden;
}
/* 이동버튼 */
.cat-list .abtn{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #ffffff94;
    position: absolute;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 10px;
    color: #222;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 4px #0000008a;
    display: none;
}
.listbox:hover .abtn{
    display: block;
}
.lb{
    top: 90px;
    left: 10px;
}
.rb{
    top: 90px;
    right: 10px;
}
/* 블릿 */
.indic{

}
.indic li{

}
.indic li.on{

}

@media (max-width:1000px) {
    .cat-list{
        grid-template-columns: repeat(2, 300px);
    }
}
@media (max-width:700px) {
    .cat-list{
        grid-template-columns: repeat(1, 300px);
        
    }
}

