/* 메인 둘러보세요 파트 CSS */

/* 그리드,오버시 박스 설정 */
.view-random{
    display: flex;
    justify-content: center;
}

/* 타이틀 */
.view-box {
    position: relative;
    z-index: 999999;
}
.view-box h1{
    text-align: center;
    margin: 300px 0 200px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: max(3vw,40px);
}


/* 그리드 박스 */
.random-box ul{
    display: grid;
    grid-template-columns: repeat(4,260px);
    grid-template-rows: repeat(5,150px);
    column-gap: 10px;
    row-gap: 10px;

}

.random-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* 개별 그리드 박스 이미지 크기 설정 */
.random-box li:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 3;
}
.random-box li:nth-child(10) {
	grid-row-start: 3;
	grid-row-end: 5;

    grid-column-start: 2;
    grid-column-end: 3;
}

/* 오른쪽 큰 박스 */

.bigimg{
    position: relative;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/02/09/45/japan-1366872_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 26%;
    margin-left: 150px;

}

.bigimg h3{
    color: #fff;
    position: absolute;
    margin: 30px;
    
}
.bigimg h3:nth-child(2){
    bottom: 25px;
}
.bigimg h3:nth-child(3){
    bottom: 0;
}
.blackbx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #000, #000000b5 10%, transparent);
}