@charset "utf-8";

@import url(./reset.css);

/* 공사중 표시 */
/* body *{
    border: 1px dashed #34ae88;
} */

#top{
    position: fixed;
   width: 100%;
   height: 120px;
   top: 0;

   background-color: #00000073;

}

.main-bg img{
    width: 100vw;
    
}
.main-logo{
    float: left;
    width: 10vw;
    position: absolute;
    top: 0;
    left: 0;
    
}
.main-logo img{
    width: 100%
    
}
/* gnb메뉴 */
.gnb{
    position: absolute;
    top: 0;
    right: 1vw;
    display: flex;
    justify-content: right;
    margin-right: 5vw;
    padding-top: 2vw;
    font-size: 1.2vw;
    
    
}

.gnb li{
    padding-left: 3vw;
    
}

.gnb li a{
    font-size: 1.2vw;
    color: #fff;
}
/* 컨텐츠 박스 이미지 공통 */
.cont-bg img{
    width: 100vw;
}
/* 컨텐츠 정보 박스 공통 */

#banner{
    transition: 2s;
    transform: translateY(-30%) scale(1.5);
    opacity: 0;
    animation: first-ani 2s ease-in-out 1s forwards;
}
@keyframes first-ani {
    to{
        transform: translateY(0%) scale(1);
        opacity: 1;

    }
}
.bg-top{
    height: 200px;
}
.main-bg img{
    width: 100%;
}
