@charset "utf-8";

@import url(./reset.css);
@import url(./common.css);




  @import url('https://fonts.googleapis.com/css2?family=Jua&family=Kanit&family=Nanum+Gothic&family=Noto+Sans+Display&family=Titan+One&family=Ubuntu:wght@700&family=Varela+Round&display=swap');




/* 
font-family: 'Jua', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Titan One', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Varela Round', sans-serif;*/

/* 공사중 표시 */
/* body *{
    border: 1px dashed #34ae88;
} */

/* 전체 반투명 가림막 body 가상요소 */
body.on::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
    /* 보여줄 요소는 이것보다 높게 */
}
#cont{
    margin-top: 35%;
    position: relative;
    overflow: hidden;
}

/* 메인 이미지 영역 */
.main-bg {
    position: absolute;
    top: 24%;
    left: 0;
    object-fit: contain;
    object-position: bottom;
    transform:scale(2);
    opacity: 0;
    animation: first-ani 1.2s ease-in-out 0.2s forwards;
}
@keyframes first-ani {
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.main-bg img {
    width: 100%;
    height: 90%;
}
/* 메인 이미지 글씨 영역 */
.bg-top {
    height: 280px;
    position: relative;
    transform: translateY(-100%);
    background-color: #ffffff;
    z-index: 9;
    animation: second-ani 0.8s ease-out 0.8s forwards;

}
@keyframes second-ani {
    to {
        transform: translateY(0);
    }
}
.slide-name{
    height: 92px;
    overflow: hidden;
    display: block;
    
}
.name-part{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-81%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 6rem;
    width: auto;
    text-align: center;
    z-index: 99;
    font-weight: bold;
}

.name1 {
    margin-top: 100%;
    animation: name-ani 1.8s ease-in-out 0.7s forwards;
    
}
.name2 {
    margin-top: 100%;
    z-index: 1;
    animation: name-ani 1.8s ease-in-out 1.5s forwards;
}
@keyframes name-ani {
    to{
        margin-top: 0;
    }

}
/* 컨텐츠 박스 이미지 공통 */
.cont-bg img{   
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
    /* object-position: top;
    object-position: bottom; */
}
/* 개별이미지 위치 설정 */
.img1{
    object-position: bottom;
}
.img2{
    object-position: 60% 60%;
}
.img3{
    object-position: 45% 45%;
}
/* 움직이는 박스 */
.special-box {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.cont-bg{
    /* .cont-mvbtn의 부모 */
    position: relative;
    width: 100%;
    
    /* aspect-ratio: 3/1.4; */
    height: 100vh;
    overflow: hidden;

}
/* 콘텐츠 영상 버튼 공통 */
.cont-mvbtn{
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    border: 1px solid #000000;
    padding: 7px;
    border-radius: 10px;
    font-size: .8vw;
    letter-spacing: 0.67px;
    
}
.cont-mvbtn:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: #34343470;
    transition: .2s ease-out;
}


/* 컨텐츠 정보 박스 공통 */
.bx-info{
    width: 100%;
    height: 300px;
    padding-bottom: 50px;
    background-color: rgb(47 46 46);
    display: flex;
    z-index: 9;
}
.name-bx{
    width: 50%; 
    position: relative;
}


.name-bx .sname{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}
.name-bx .lname{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: normal;

}
.cont-name{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 3vw;
    color: #fff;
    
    
}
.ex-bx{
    margin-top: 60px;
    width: 50%;
    line-height: 2;
    font-size: 0.9vw;
    color: #fff;
}
.ex-bx>span{
    display: block;
}
.ex-bx>div{
    border-bottom: 1px solid #fff;
    width: 50px;
    margin: 10px 0;
}
.ex-bx a{
    color: #fff;
    
}

/* 뉴스 콘텐츠 영역 */
#news{
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
}
.news-tit{
    text-align: center;
    margin: 350px 0px 68px;
    font-family: 'Noto Sans Display', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}
.news-bx{
    width: 40%;
    height: 40%;
    margin: 0 auto;
}
.news-list{
    border-bottom: 1px solid gray;
    padding: 10px;
}
.news-name{
    display: block;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}
.news-txt{
    font-size: 10px;
}

.circle1 img{
    position: absolute;
    width: 202px;
    height: 150px;
    top: 16%;
    left: 4%;
}
.circle2 img{
    position: absolute;
    width: 108px;
    height: 96px;
    top: 44%;
    left: 14%;
}
.circle3 img{
    position: absolute;
    width: 250px;
    top: 10%;
    left: 80%;

}


/* 뷰프로젝트 영상박스 */
.vpj{
    position: fixed;
    opacity: 0;
    top: -50%;
    /* 처음에 top값으로 윗쪽에 숨김! */
    left: 50%;
    transform: translate(-50%,-50%);
    /* 정중앙이동 */
    width: 800px;
    height: 450px;
    background-color: #fff;

    z-index: 99999;
    /* 트랜지션: 속시이지 */
    transition: opacity 1.5s ease-in-out;
}
/* 구글맵에 클래스"on"적용시 등장하기 */
.vpj.on{
    top: 50%;
    opacity: 1;
    
    
}
/* 닫기버튼 */
.cbtn{
    position: absolute;
    top: -10px;
    right: -37px;
    font-size: 40px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* 기본 포커스 아웃라인 제거 */
.cbtn:focus{
    outline: none;
}
/* 영상 크기 조절 박스 */
.vpj iframe{
    width: 100%;
    height: 100%;
}
