@charset "utf-8";

@import url(./reset.css);
@import url(./common.css);

@import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+Display&family=Titan+One&family=Varela+Round&display=swap");

/* 
font-family: 'Jua', sans-serif;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Titan One', cursive;
font-family: 'Varela Round', sans-serif; */

/* 공사중 표시 */
/* body *{
    border: 1px dashed #34ae88;
} */

/* 상단영역 */
#top {
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    z-index: 1;
    background-color: #00000073;
}

.main-bg img {
    width: 100vw;
}
/* 로고 */
.main-logo {
    float: left;
    width: 6vw;
    position: absolute;
    top: 10px;
    left: 20px;
}
.main-logo img {
    width: 100%;
}

/* gnb메뉴 */
.gnb {
    position: absolute;
    top: 0;
    right: 1vw;
    display: flex;
    justify-content: right;
    padding: 2vw 0;
    margin: 0 5vw;
}

.gnb > li {
    margin: 0 2vw;
}
/* 밑줄 가상요소 */
.gnb > li > a::after {
    content: "";
    display: block;
    /* 변경요소 */
    width: 0%;
    margin-left: 100%;
    margin-top: 4px;
    height: 1px;
    background-color: #ffffff;
    /* 트랜지션 */
    transition: 0.3s;
}
/* 상위메뉴 li에 오버시 밑줄 */
.gnb > li:hover > a::after {
    width: 100%;
    margin-left: 0%;

    /* 트랜지션 : 오버시엔 왼쪽마진값은 무애니! */
    transition: width 0.3s;
}
/* 메뉴 설정 */
.gnb > li > a {
    font-size: 1vw;
    color: #fff;
    font-family: "Noto Sans Display", sans-serif;
}
/* 메뉴 오버시 */
.gnb > li > a:hover {
    text-shadow: 1px 1px 1px #14141498;
}
/* 서브메뉴 */
.sub-menu {
    margin-top: 10px;
    /* 숨기기 높이값 0 */
    height: 0;
    /* 넘치는 요소 숨기기 */
    overflow: hidden;

    /* 투명하게 */
    opacity: 0;
    /* 트랜지션 */
    transition: 0.4s ease-in-out;
}

/* 서브메뉴 오버시 나타나기 */
.gnb > .li-sub:hover .sub-menu {
    opacity: 1;
    height: 93px;
}
.sub-menu ol {
    text-align: center;
    
}
.sub-menu > ol > li > a {
    color: #000;
    font-size: 1vw;
    font-family: "Noto Sans Display", sans-serif;
}
.sub-menu > ol > li > a:hover {
    font-weight: bold;
}
/* 메인 이미지 영역 */
.main-bg {
    transition: 2s;
    transform: translateY(-30%) scale(1.5);
    opacity: 0;
    animation: first-ani 1.5s ease-in-out 0.2s forwards;
}
@keyframes first-ani {
    to {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}
.main-bg img {
    width: 100%;
}
/* 메인 이미지 글씨 영역 */
.bg-top {
    position: relative;
    height: 230px;
}
.bg-top .mname {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Varela Round", sans-serif;
    font-size: 4rem;
    width: auto;
    text-align: center;
}
.bg-top .name1 {
    top:166px;;
}
.bg-top .name2 {
    top: 230px;
    z-index: 1;
}

/* 컨텐츠 박스 이미지 공통 */
.cont-bg img{
    width: 100%;
}

.cont-bg{
    /* .cont-mvbtn의 부모 */
    position: relative;
}
/* 콘텐츠 영상 버튼 공통 */
.cont-mvbtn{
    position: absolute;
    top: 45vw;
    left: 50%;
    color: #fff;
    border: 2px solid #fff;
    padding: 7px;
    border-radius: 10px;
    font-size: 1vw;
    letter-spacing: 0.67px;
}
.cont-mvbtn:hover{
    background-color: #34343470;
    transition: .3s ease-out;
}


/* 컨텐츠 정보 박스 공통 */
.bx-info{
    width: 100%;
    height: 250px;
    background-color: rgb(47 46 46);
    display: flex;
}
.name-bx{
    width: 50%; 
}
.name-bx div{
    width: 100px;
    margin: 4vw 0 0 16vw;

}
.cont-name{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 4vw;
    color: #fff;
    
    
}
.ex-bx{
    margin-top: 50px;
    width: 50%;
    line-height: 2;
    font-size: 0.9vw;
    color: #fff;
}
.ex-bx>span{
    display: block;
}
.ex-bx>div{
    border-bottom: 1px solid #fff;
    width: 50px;
    margin-top: 10px;
}