@charset "utf-8";

@import url(./mian.css);
@import url(./reset.css);

/* 상단영역 */
#top {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    z-index: 999;
    background-color: #00000073; 
}

.main-bg img {
    width: 100vw;
}
/* 로고 */
.main-logo {
    width: 6vw;
    position: absolute;
    top: 20%;
    left: 1%;
}
.main-logo img {
    width: 100%;
}
/* gnb랩핑 박스 */
.main-menu{
    margin-left: auto;
}

/* gnb메뉴 */
.gnb {
    
    display: flex;
    justify-content: right;
    margin: 0 5vw;
}

.gnb > li {
    position: relative;
    margin: 0 2vw;
    padding: 2vw 0;
}
/* 밑줄 가상요소 */
.gnb > li > a::after {
    content: "";
    display: block;
    /* 변경요소 */
    width: 0%;
    margin-left: 100%;
    margin-top: 4px;
    height: 1px;
    background-color: #ffffff;
    /* 트랜지션 */
    transition: 0.3s;
}
/* 상위메뉴 li에 오버시 밑줄 */
.gnb > li:hover > a::after {
    width: 100%;
    margin-left: 0%;

    /* 트랜지션 : 오버시엔 왼쪽마진값은 무애니! */
    transition: width 0.3s;
}
/* 메뉴 설정 */
.gnb > li > a {
    font-size: 1vw;
    color: #fff;
    font-family: "Noto Sans Display", sans-serif;
}
/* 메뉴 오버시 */
.gnb > li > a:hover {
    text-shadow: 1px 1px 1px #14141498;
}
/* 서브메뉴 */
.sub-menu {
    position: absolute;   
    top: 100%;
    /* 숨기기 높이값 0 */
    height: 0;
    /* 넘치는 요소 숨기기 */
    overflow: hidden;

    /* 투명하게 */
    opacity: 0;
    /* 트랜지션 */
    transition: 0.4s ease-in-out;
    padding: 10px;
    left: -10px;
    line-height: 1.5;
    border-radius: 0px;
}
.li-sub{
    /* .sub-menu의 부모역할 */
    position: relative;
}

/* 서브메뉴 오버시 나타나기 */
.gnb > .li-sub:hover .sub-menu {
    opacity: 1;
    height: 50px;
    background-color: #ffffff9f;
    text-align: center;
    
}
.sub-menu ol {
    text-align: center;
    
}

.sub-menu > ol > li > a {
    color: #000;
    font-size: 1vw;
    font-family: "Noto Sans Display", sans-serif;
}
.sub-menu > ol > li > a:hover {
    font-weight: bold;
}

footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 250px;
    background-color: rgb(47 46 46);
}
.subject-txt{
    font-size: 20px;
    margin: 10px 0 50px;
}
.txt{
    
    width: 50%;
    color: #fff;
    font-size: 13px;
    margin: 0 0 0 40px;
    line-height: 40px;
}
.social img{
    width: 35px;
    margin: 0 5px;
}
.social{
    position: absolute;
    top: 15%;
    right: 7%;
}

/* 모바일 햄버거 버튼 */
.ham {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #555;
    transform: scaleX(1.5);

    /* 처음에 숨기기 */
    display: none;
}
/* 햄버거모양 가상요소넣기 */
.ham::before{
    content: '≡';
}

@media screen and (max-width:1024px) {

#top{
    height: 67px;
}
/* 햄버거 버튼 보이기 */
.ham {
    display: block;
  }
  .ham:hover{
    cursor: pointer;
  }
  /* 햄버거 버튼 상위.top에 클래스on 
    줄경우 x버튼으로 변경 */
  .header.on .ham {
    z-index: 99999;
    transform: scale(1.5);
  }
  .header.on .ham::before {
    content: "×";
  }

  /* 전체메뉴박스 */
  .gnb {
    position: fixed;
    top: 67px;
    left: 100%;
    height: calc(100% - 67px);
    z-index: 9999999;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* 내용 많아지면 스크롤바 자동생성(y축) */
    overflow: auto;
    /* 트랜지션 */
    transition: left 0.4s ease-in-out;
  }
  /* 메뉴박스 등장 */
  .header.on .gnb {
    left: 0;
  }
  .gnb > li > a {
    color: #000000;
    font-size: 20px;
}
.gnb>li{
    flex-direction: column;
    border-bottom: 1px solid #00000031;
}
.sub-menu{
    position: static;
    overflow: visible;
    height: auto;
    display: none;
    opacity: 1;
    height: 50px;
}
.header.on .sub-menu{
    transition: none;
}
.sub-menu > ol > li > a {
    font-size: 20px;
}
.sub-menu ol{
    text-align: left;
}
.main-logo{
    width: 90px;
}

}